*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*=============header style start=======  */

.banner{
    height: 900px;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-div {
    float: right;
    text-align: right;
    padding-left: 600px;
    margin: 300px 200px 60px 500px;
}

.banner h2{
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 23px;
}

.banner p{
    color: #444343;
    font-size: 16px;
    margin-bottom: 25px;
}

.banner-div button {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    background-color: #2e7463;
}
/*============header style end======== */

/*============main style image & information start======== */
.main-body{;
    height: 750px;
    width: 1100px;
    margin: 100px 400px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

.information{
    margin: 100px 30px 0 82px;
}

.information h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 40px;
}

.information p{
    font-weight: 400;
    font-size: 16px; 
    margin-top: 24px;
}

.information ul {
    list-style: none;
    padding-left: 0px;
    font-size: 16px;
    margin-top: 23px;
}

.information ul li{
    margin-top: 14px;
}

.picture{
    height: 12px;
}
/*============main style image & information end======== */

/*============main style icon start======== */
.icons {
    height: 300px;
    width: 1200px;
    margin: 150px 340px 100px 340px;
}

.items{
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.icon1{
    text-align: center;
    padding: 0 60px 0 0px;
}

.icons h1{
    text-align: center;
    margin-bottom: 40px;
}

.icon1 h2{
    font-weight: 700;
    font-size: 25px;
}

.icons p{
    font-weight: 500;
    font-size: 20px;
}

.icon1{
    align-items: center;
}

/*============main style icn end======== */

/*============main style adds start======== */

.adds{
    margin: 150px 340px 100px 340px;
    height: 300px;
    width: 1200px;
}

.gradiant {
    background-image:linear-gradient(rgba(44, 47, 230, 0.5), rgba(64, 10, 126, 0.5)), url('../images/watch.png');
    height: 300px;
    width: 1200px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 6px;
}

.gradiant .text-button{
    padding:73px 535px 0px 80px;
}


.gradiant .text-button h2{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.gradiant button{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 18px 27px;
    border-radius: 5px;
    border: none;
}
/*============main style adds end======== */



